.main_header, .fat-footer{
    display: none !important;
}
.sub_menu_icons{
    width: 100px;
    color: #ffffff;
    font-size: 40px;
    padding: 20px;
}
.profile_header{
    width: 100%;
    background: #4ba2b5;
    height: 350px;
    margin-top: 0px;
    position: relative;
}
.settings_btn{
    float: right;
    margin-right: 20px;
}
.change_pic_btn{
    border-radius: 100px;
    width: 30px;
    height: 30px;
    padding: 0px;
    float: left;
    margin-left: 20px;
    color: #ffffff;
    background: #8e8e8e;
}

.profile_visitor_info{
    background: #ffffff;
    height: 70px;
    width: 100%;
    padding-top: 20px;
}
.profile_photo{
    width: 170px;
    height: 170px;
    background: silver;
    border-radius: 250px;
    position: absolute;
    top: 70px;
    overflow: hidden;
    background-position: center;
    vertical-align: middle;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.post_form{
    width: 100%;
    background: #f4f4f4;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 20px 20px;
}
.upload_post_photo_btn{
    background: #f4f4f4;
    color: #e84b7c;
}
.upload_post_photo_btn:hover{
    background: #ebe5e0;
    color: #e84b7c;
}
.section_title{
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}
.section_container{
    background: #ebe5e0;
    float: left;
    width: 100% !important;
    margin-top: 50px !important;
    padding-top: 50px;

}
.posts_section{
    background: #ffffff;
    padding: 30px 20px;
}
.post_title{
    font-size: 23px;
    font-weight: bold;
}
.post_text{
    padding: 20px 0px;
}
.like_btn{
    background: #ffffff;
    font-size: 30px;
    color: #e84b7c;
    float: left;
    margin-left: -10px;
    margin-top: 15px;
}
.like_btn:hover{
    color:#ab3c5e;
}
.how_liked{
    width: 80px;
    float: left;
    padding: 14px 0px;
    color: #bb0840;
    cursor: pointer;
}

.share_post{
    width: 60px;
    float: right;
    padding: 14px 0px;
    color: #bb0840;
    cursor: pointer;
}
.comments_section{
    height: 70px;
    background: #f4f4f4;
    border-bottom: 1px solid #cccccc;
    font-size: 20px;
    padding: 20px 30px;
    font-weight: bold;
    cursor: pointer;
}
.post_comment_title{
    padding: 30px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
.post_comment_name{
    padding-left: 30px;
    font-weight: bold;
    padding-bottom: 10px;

}
.post_comment_text{
    padding: 0px 30px;
}
.post_comment_submit{
    background: #e84b7c;
    font-size: 17px;
    padding: 7px 20px;
    color: #ffffff;
}
.post_comment_form{
    background: #f4f4f4;
    display: none;
}
.read_more_posts_section{
    padding: 30px;
    text-align: center;
    height: 170px;
}
.main_content{
    background: #f5f2ef !important;
}
.main_header{
    height: 451px !important;
}
.profile_menu_items{
    padding-top: 25px;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
}
.post_likes{
    width: 100%;
    padding: 30px 0px;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.post_profile_name{
    position: absolute;
    top: 260px;
    width: 94%;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
}
.comment_img{
    width: 40px !important;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
    float: left;
}
.comment_name{
    float: left;
    width: 75%;
    padding-left: 10px;
    font-size: 17px;
}
.comment-date{
    float: left;
    padding-left: 10px;
    font-size: 11px;
    width: 75%;
}
.comment-body{
    width: 100%;
    font-size: 18px;
    padding: 20px;
}
.comment_like{
    width: 40px;
    cursor: pointer;
    margin-top: 3px;
}
.comment_edit{
    cursor: pointer;
    width: 40px;
}
.comment_delete{
    cursor: pointer;
    width: 40px;
}
.comment_like:hover , .comment_edit:hover , .comment_delete:hover{
    color:#e84b7c !important
}
.comment-footer{
    display: flex;
    padding: 10px;
}
.comment-item{
    margin: 5px 30px !important;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height:750px
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.uk-section{
    padding-bottom: 0px !important;
}
.card_title{
    padding: 5px 20px;
    color: #E84B7B !important;
    font-size:16px;
    text-align: left
}
.cards_create_room_btn{
    width: 100%;
    height: 50px;
    text-align: center;
    background: #E84B7B;
    border: 0px;
    border-radius:10px;
    color: #ffffff;
    float: left;
    line-height: 50px
}
.container-bloody > *:not(.prevent-bleed){
    margin-top: -0px !important;
    height: 270px !important;
}
.card_text{
    height: 220px;
    font-size: 13px;
    overflow: hidden;
    text-align: left;
    color:#000000;
}
.owl-controls{
    display: none !important;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height:750px
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.uk-section{
    padding-bottom: 0px !important;
}
.card_title{
    padding: 5px 20px;
    color: #E84B7B !important;
    font-size:16px;
    text-align: left
}
.cards_create_room_btn{
    width: 100%;
    height: 50px;
    text-align: center;
    background: #E84B7B;
    border: 0px;
    border-radius:10px;
    color: #ffffff;
    float: left;
    line-height: 50px
}
.container-bloody > *:not(.prevent-bleed){
    margin-top: -0px !important;
    height: 270px !important;
}
.card_text{
    height: 220px;
    font-size: 13px;
    overflow: hidden;
    text-align: left;
    color:#000000;
}
.owl-controls{
    display: none !important;
}
.gallery_photos{
    width: 46%;
    height: 200px;
    float: left;
    margin-top: 20px;
    /* padding: 0px 10px; */
    box-shadow: 5px 5px 5px #bcbcbc;
    margin: 2%;
    padding: 0px;
}